body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #ffffff;
  background-color: #1f2937;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url('./images/ff-cloud_50.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container:nth-child(2) {
  margin-top: 20px;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 28px;
  font-weight: 700;
  margin-top: 0px;
  margin-bottom: 32px;
  color: #ffffff;
}

label {
  display: block;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 8px;
  color: #ffffff;
}

.input-row {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 16px;
}

.checkbox-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.checkbox-row label {
  margin-bottom: 0;
  color: #ffffff;
}

.checkbox-row a {
  color: #ffffff;
}

.button-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

input[type='text'],
input[type='password'] {
  display: block;
  width: 100%;
  padding: 12px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  background-color: #4b5563;
  background-clip: padding-box;
  border: 1px solid #4b5563;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  max-width: 600px;
  margin-bottom: 16px;
}

input[type='text']:focus,
input[type='password']:focus {
  border-color: #34aaaf;
  box-shadow: 0 0 0 0.2rem rgba(52, 170, 175, 0.25);
}

input[type='submit'],
button {
  display: inline-block;
  padding: 6px 16px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  background-color: #34aaaf;
  border: 1px solid #34aaaf;
  border-radius: 0.25rem;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  cursor: pointer;
}

input[type='submit'] {
  flex: 1;
  margin-right: 10px;
}

button#start-agent-btn {
  flex: 1;
  margin-left: 10px;
}

input[type='submit']:hover,
button:hover {
  background-color: #248b8b;
  border-color: #248b8b;
}

input[type='submit']:focus,
button:focus {
  box-shadow: 0 0 0 0.2rem rgba(52, 170, 175, 0.5);
}

button#start-agent-btn.stop {
  background-color: #aa4444;
  border-color: #aa4444;
}

button#start-agent-btn.stop:hover {
  background-color: #cc5555;
  border-color: #cc5555;
}

.logo {
  display: inline-block;
  height: 40px;
  margin-right: 16px;
  margin-bottom: 6px;
  vertical-align: middle;
}

input[type='checkbox'] {
  margin-right: 8px;
  height: 20px;
  width: 20px;
}

label[for='moduleCache'] {
  display: inline-block;
  margin-bottom: 0px;
  color: #ffffff;
}

input[type='checkbox']:focus {
  outline: none;
}

input[type='checkbox']:checked + label {
  font-weight: 700;
  color: #ffffff;
}

.info-box {
  background-color: #4b5563;
  color: #ffffff;
  padding: 10px;
  margin-top: 20px;
  text-align: center;
  width: 100%;
  justify-content: center;
}

button#reset-agent-btn {
  background-color: #cc5555;
  border-color: #cc5555;
  width: 80%;
  padding: 10px;
  margin-top: 20px;
  align-self: center;
}

button#reset-agent-btn:hover {
  background-color: #aa4444;
  border-color: #aa4444;
}

/* Customize the appearance of the confirmation dialog */
body {
  --modal-background-color: rgba(0, 0, 0, 0.5);
  --modal-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

/* Style the modal backdrop */
.confirmation-modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--modal-background-color);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Style the modal box */
.confirmation-modal-box {
  background-color: #1f2937;
  color: #ffffff;
  padding: 20px;
  box-shadow: var(--modal-box-shadow);
  max-width: 600px;
  width: 90%;
  text-align: center;
}

/* Style the modal buttons */
.confirmation-modal-box button {
  display: inline-block;
  padding: 6px 16px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  background-color: #34aaaf;
  border: 1px solid #34aaaf;
  border-radius: 0.25rem;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  cursor: pointer;
  margin: 10px;
}

.confirmation-modal-box button:hover {
  background-color: #248b8b;
  border-color: #248b8b;
}

.confirmation-modal-box button:focus {
  box-shadow: 0 0 0 0.2rem rgba(52, 170, 175, 0.5);
}
