body {
            font-family: 'Open Sans', sans-serif;
            font-size: 16px;
            line-height: 1.5;
            color: #333;
        }

        h1 {
            font-size: 28px;
            font-weight: 700;
            margin-top: 0;
            margin-bottom: 32px;
            color: #343a40;
        }

        label {
            display: block;
            font-size: 16px;
            font-weight: 700;
            margin-bottom: 8px;
            color: #343a40;
        }

        input[type="text"] {
            display: block;
            width: 100%;
            padding: 8px;
            font-size: 16px;
            font-weight: 400;
            line-height: 1.5;
            color: #495057;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid #ced4da;
            border-radius: .25rem;
            transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
        }

        input[type="password"] {
            display: block;
            width: 100%;
            padding: 8px;
            font-size: 16px;
            font-weight: 400;
            line-height: 1.5;
            color: #495057;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid #ced4da;
            border-radius: .25rem;
            transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
        }

        input[type="text"]:focus,
        input[type="password"]:focus {
            border-color: #80bdff;
            box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .25);
        }

        input[type="submit"] {
            display: inline-block;
            padding: 6px 16px;
            font-size: 16px;
            font-weight: 400;
            line-height: 1.5;
            color: #fff;
            background-color: #007bff;
            border: 1px solid #007bff;
            border-radius: .25rem;
            transition: background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
            cursor: pointer;
        }

        button {
            display: inline-block;
            padding: 6px 16px;
            font-size: 16px;
            font-weight: 400;
            line-height: 1.5;
            color: #fff;
            background-color: #007bff;
            border: 1px solid #007bff;
            border-radius: .25rem;
            transition: background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
            cursor: pointer;
        }

        button#start-agent-btn.stop {
            background-color: #AA4444;
            border-color: #AA4444;
        }

        button#start-agent-btn.stop:hover {
            background-color: #AA4444;
            border-color: #AA4444;
        }

        input[type="submit"]:hover {
            background-color: #0069d9;
            border-color: #0062cc;
        }

        input[type="submit"]:focus {
            box-shadow: 0 0 0 .2rem rgba(38, 143, 255, .5);
        }

        .logo {
            display: inline-block;
            height: 40px;
            margin-right: 16px;
            vertical-align: middle;
        }

        input[type="checkbox"] {
            margin-right: 8px;
        }

        label[for="moduleCache"] {
            display: inline-block;
            margin-bottom: 8px;
            color: #343a40;
        }

        input[type="checkbox"]:focus {
            outline: none;
        }

        input[type="checkbox"]:checked+label:before {
            content: "\2714";
            font-size: 16px;
            color: #007bff;
            margin-right: 8px;
        }

        input[type="checkbox"]:checked+label {
            font-weight: 700;
            color: #343a40;
        }